@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .x-separator {
    width: 2px;
    background-color: #cbcfcb;
  }

  .background {
    background-image: url("../public/background.jpg");
    background-position: center;
    background-size: cover;
  }
}